<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.numerx.formboot.testform.mapper.TestMapper">
	<!-- 通用查询映射结果 -->

	<resultMap id="BaseResultMap" type="com.numerx.formboot.testform.entity.Test">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="hp" property="hp" />
		<result column="damage" property="damage" />
	</resultMap>

    <select id="selectMap" resultType="java.util.Map">

		SELECT  *  from  test

	</select>
</mapper>
