<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.numerx.formweb.mapper.TestMapper">
    <select id="findTestCount" resultType="int">
 select count(1) from test
</select>
</mapper>